*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ota {
    padding-top: 30px;
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-around;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.bola{
    width: 200px;
    color: rgb(255, 255, 255);
font-size: 12px;
font-weight: 700;
text-align: center;
padding-left: 45px;
padding-right: 45px;
padding-top: 14px;
padding-bottom: 14px;
    height: 40px;
    border-radius: 30px;
background: rgb(255, 1, 1);
margin-bottom: 68px;
}
.r{
    width: 400PX;
    height: 200PX;
   margin-left: 84px;
   margin-right: 200px;
   margin-bottom: 40px;
}
.d{
    border-radius: 40px;
background: rgb(0, 0, 0);
width: 264px;
height: 118px;
color: rgb(255, 255, 255);
font-size: 24px;
text-align: center;
 width:  264px;    
 height: 118px;
 font-size: 50px;
 padding: 45px;
 display: flex;
 justify-content: space-around;
 margin-left:  448px;
 padding-bottom: 50px;padding-bottom: 100px;
}
.r1{
    margin-bottom: 40px; 
}
.c{
    width: 400px;
    height: 200px;
    border-radius: 50px;
background: rgb(235, 22, 22);
padding-top: 45px;
padding-bottom: 46px;
padding-left: 50px;
padding-right: 50px;
margin-left: 80px;
    margin-right: 200px;
}

.c1{
    width: 300px;
    height: 109px;
    background: rgb(97, 255, 0);
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 20px;
    padding-right: 20px;
}
.a{
    width: 400px;
    height: 200px;
    border-radius: 50px;
background: rgb(235, 22, 22);
padding-top: 45px;
padding-bottom: 46px;
padding-left: 50px;
padding-right: 50px;
display: flex;
}
.a1{
    
    width: 300px;
    height: 120px;
    background: rgb(97, 255, 0);
   margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
    padding-right: 19px;
}
.c2{
   display:   flex;  
     flex-wrap: wrap;
}
body{
    background: rgb(30, 30, 30);;
}
.k{
   background-color: rgb(255,255,255) ; 
   width: 1440px;
   height: 1024px;
   padding-top: 58px;
   padding-left: 140px;
   padding-right: 140px;
   padding-bottom: 133px;
}
.k1{
    border-radius: 40px;
width: 1160px;
height: 833px;
background: rgb(52, 60, 86);
}